body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(236, 171, 241);
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgb(236, 171, 241);
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(225, 22, 240);
}

header {
  background-color: #fcf1db;
  padding: 20px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 100px;
}

.header-content {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 25%;
}

header h1 {
  margin: 0;
  color: #ca7bee;
  flex-grow: 1;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fcf1db;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #996cec;
}
section h3 {
  font-weight: bold;
}

section h4 {
  font-weight: lighter;
  font-style: italic;
};

section p {
  font-size: 1em;
  line-height: 1.6;
}

section ul.juegos {
  color: #6648e7;
}

ul.juegos {
  list-style-type: none;
  padding: 0;
}

ul.juegos li {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ebe0ea;
}

ul.juegos li a {
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  color: #3498db;
  text-decoration: none;
  margin-bottom: 5px;
}

ul.juegos li a:hover {
  color: #2980b9;
}

ul.juegos li p {
  margin: 0;
  font-size: 0.9em;
  color: #7f8c8d;
}

footer {
  background-color: #324c11;
  color: #c5f358;
  text-align: center;
  padding: 10px 0;
}

canvas {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

#botellas {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #996cec;
  color: #eee;
  font-weight: bolder;
  text-align: left;
}

article {
border-top: 1px solid #3498db;
}